body{
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table{
    width: 80%;
    margin: 40px auto;
    background: rgba(124, 128, 167, 0.600);
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 3px solid rgba(10, 101, 187, 0.685);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgba(10, 101, 187, 0.685);
}

input[type="text"],input[type="number"],input[type="date"]{
    width:95%;
    padding:12px 12px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(165,161,161);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: rgba(114, 219, 219, 0.804);
    padding:9px 17px;
    margin:15px 0 10px;
    display: inline-block;
    border-color: rgba(10, 101, 187, 0.696);
    border-radius: 7.5px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #eee;
}

input[type="reset"]:hover{
    background: #eee;
}

button, input[type="submit"]{
    background: rgba(114, 219, 219, 0.804);
    padding:9px 17px;
    margin:15px 0 10px;
    display: inline-block;
    border-color: rgba(10, 101, 187, 0.696);
    border-radius: 7.5px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover, input[type="submit"]:hover{
    background: rgba(10, 101, 187, 0.685);
}

.titlePage{
    text-align: center;
    width: 100%;
    color: #eee;
}
